$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$light-gray: rgb(248, 248, 248); 
$medium-gray: rgb(243, 243, 243);
$dark-gray: rgb(105, 104, 105);

$title-logo-typo: 'Shrikhand', cursive;
$text-typo: 'Roboto', sans-serif;

