.footer {
    padding: 1.5rem 0 1.5rem 1rem;
    background-color: $dark-gray;
    color: white;
    @media (min-width: 800px) {
        padding-left: 45%;
    }
    &__logo-container {
        padding-bottom: 1rem;
    }
    &__p {
        margin: 0 0 0.5rem 0;
        &__items {
            width: 7%;
            @media (min-width: 800px) {
                width: 3%;
            }
        }
    }
}