

.custumized-button {
    margin-top: 1.5rem;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 3px $medium-gray;
    background: $button-gradient;
    color: $medium-gray;
    width: 55%;
    cursor: pointer;
}

.simple-button {
    width: 95%;
    margin: 0 0 1.5rem 0.7rem;
    padding: 1.5rem 0 1.5rem 2rem;
    background-color: $light-gray;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 5px 3px $medium-gray;
    text-align: left;
    cursor: pointer;
    // hover ne fonctionne que pou rla version desktop (voir comment présenter pour la soutenance)
    &:active {
        background-color: $lighten-primary-button-hover;
        box-shadow: 0px 10px 8px darken($medium-gray, 10%);
        & > .simple-button__items {
            color: $primary-color;
        }
    }
    &:hover {
        background-color: $lighten-primary-button-hover;
        box-shadow: 0px 10px 8px darken($medium-gray, 10%);
        & > .simple-button__items {
            color: $primary-color;
        }
    }
    &__items {
        padding-right: 1.8rem;
        color: $dark-gray;
        font-size: 1.2rem;
    }
}