

.custumized-button {
    margin-top: 1.5rem;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 3px $medium-gray;
    font-size: 1rem;
    background: $gradient;
    color: $medium-gray;
}

.simple-button {
    width: 80%;
    margin-top: 1.5rem;
    padding: 1.5rem 0 1.5rem 0;
    background-color: $light-gray;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 5px 3px $medium-gray;
    font-size: 1.1rem;
    &__items {
        padding-right: 1.2rem;
        color: $dark-gray;
    }
}