ol {
    list-style: none;
    counter-reset: purple-bubulle-counter;
    padding-left: 0;
    li {
        counter-increment: purple-bubulle-counter;
        position: relative;
        &::before {
            content: counter(purple-bubulle-counter);
            position: absolute;
            width: 20px;
            height: 20px;
            top: 28px;
            background: $primary-color;
            color: white;
            font-family: $text-typo;
            border-radius: 50%;
        }
        
    }

}