// TODO : penser à faire une extension pour les text-typo
.logo-typo-footer {
    font-family: $title-logo-typo;
    margin: 0;
    font-size: 1.1rem;
}

.logo-typo-restaurant {
    font-family: $title-logo-typo;
    margin: 0;
    font-size: 1.7rem;
    @media (min-width: 800px) {
        margin: auto;
    }
}

h1 {
    font-family: $text-typo;
    font-size: 1.5rem;
}

h2 {
    font-family: $text-typo;
    font-size: 1rem;
}

h3 {
    font-family: $text-typo;
}

p {
    font-family: $text-typo;
    font-size: 0.97rem;
}

button {
    font-family: $text-typo;
    font-size: 0.9rem;
    font-weight: bold;
}

.special-characters {
    font-style: normal;
}
