// penser à faire une extension pour les text-typo
h1 {
    font-family: $title-logo-typo;
}

h2 {
    font-family: $text-typo;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

h3 {
    font-family: $text-typo;
}

p {
    font-family: $text-typo;
    font-size: 1.1rem;
}

button {
    font-family: $text-typo;
   font-size: 0.9rem;
}

.special-characters {
    font-style: normal;
}
